@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

header {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

header:hover {
  background-color: rgba(0, 0, 0, 0.98);
}

.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 2.5rem;
  gap: 3.3rem;
  font-family: 'Play', sans-serif;
  color: silver;
  padding-right: 2rem;
}

header a {
  color: inherit;
  text-decoration: none;
}

header li:hover {
  color: white;
}

main {
  width: 100%;
}

#welcome-section {
  height: 100vh;
  background: linear-gradient(black, rgb(9, 0, 49), rgb(0, 0, 85));
  padding: 69px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#welcome-section div {
  margin: 0 1rem;
}

.developer-name {
  margin-top: 10rem;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 8rem;
  font-family: "Orbit", sans-serif;
  font-weight: normal;
  text-align: center;
}

.ocupation {
  margin-top: 3rem;
  text-align: center;
  font-size: 4rem;
  color: rgb(225, 228, 255);
  font-family: 'Play', sans-serif;
}

#projects {
  margin: 0 auto;
  background-color: rgb(0, 0, 85);
  color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

h2 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Play', sans-serif;
  padding: 10rem 1rem 6rem 1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 3rem auto;
}
.project-tile {
  transition: all 0.4s;
}

.project-tile:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
}

img {
  width: 400px;
  height: 340px;
  display: block;
}

p:not(.ocupation, .footer-text) {
  color: black;
  background-color: rgb(215, 215, 250);
  text-align: center;
  font-size: 3rem;
  border-top: 1px solid black;
  padding: 1rem;
  font-family: 'Play', sans-serif;
  font-weight: 700;
}

#projects a {
  text-decoration: none;
}

button {
  font-size: 2.6rem;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid white;
}

button:hover {
  background-color: rgb(205, 206, 255);
}

button:active {
  background-color: rgb(164, 165, 231);
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 253);
  padding-bottom: 9rem;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header {
  padding-bottom: 3rem;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  font-size: 5rem;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  transition: transform 0.4s;
}

.fab:hover {
  transform: scale(1.1);
}

.fa-facebook-f {
  color: rgb(51, 51, 207);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 46);
}

.fa-whatsapp {
  color: rgb(64, 180, 64);
  padding: 0.5rem 1.1rem 0.5rem 2.5rem;
  font-size: 5.9rem;
}

.fa-github {
  font-size: 5.7rem;
  color: black;
}

footer {
  border-top: 1px solid black;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
}

.footer-text {
  font-size: 2rem;
  padding: 3rem 1rem;
  text-align: center;
}


@media only screen and (max-width: 1265px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 860px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 4rem;
  }

  button {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid white;
  }
}

@media only screen and (max-width: 760px) {
  header {
    background-color: black;
  }
}

@media only screen and (max-width: 700px) {
  .developer-name {
    font-size: 5rem;
  }

  .ocupation {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3rem;
    padding: 5rem 1rem 3rem 1rem;
  }
}

@media only screen and (max-width: 430px) {
  img {
    width: 90vw;
    height: 90vw;
    display: block;
  }

  p:not(.ocupation) {
    font-size: 2rem;
    width: 90vw;
  }
}

@media only screen and (max-width: 395px) {
  header {
    justify-content: center;
  }

  .nav-list {
    padding: 0 1rem;
    font-size: 6.2vw;
  }

  .developer-name {
    font-size: 3.8rem;
  }

  .ocupation {
    font-size: 2rem;
  }

  .fab {
    font-size: 3rem;
    padding: 0.2rem 0.8rem;
  }

  .fa-whatsapp {
    font-size: 4rem;
    padding: 0.5rem 1.1rem 0.5rem 2.5rem;
  }
  
  .fa-github {
    font-size: 3.6rem;
  }
}