*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

header {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 2.5rem;
  gap: 3.3rem;
  font-family: 'Play', sans-serif;
  color: silver;
  padding-right: 2rem;
}

header a {
  color: inherit;
  text-decoration: none;
}

header li:hover {
  color: white;
}

main {
  width: 100%;
}

#welcome-section {
  height: 100vh;
  background: linear-gradient(black, rgb(9, 0, 49), rgb(0, 0, 85));
  padding: 69px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#welcome-section div {
  margin: 0 1rem;
}

.developer-name {
  margin-top: 10rem;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 8rem;
  font-family: "Orbit", sans-serif;
  font-weight: normal;
  text-align: center;
}

.ocupation {
  margin-top: 3rem;
  text-align: center;
  font-size: 4rem;
  color: rgb(225, 228, 255);
  font-family: 'Play', sans-serif;
}

@media only screen and (max-width: 700px) {
  .developer-name {
    font-size: 5rem;
  }

  .ocupation {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 395px) {
  header {
    justify-content: center;
  }

  .nav-list {
    padding: 0 1rem;
    font-size: 6.2vw;
  }

  .developer-name {
    font-size: 3.8rem;
  }

  .ocupation {
    font-size: 2rem;
  }
}